var _isArticleCollected = function (mapInfo, itemId, defaultValue) {
  var tempValue = mapInfo[itemId]
  if (tempValue === true) {
    return true
  } else if (tempValue === false) {
    return false
  } else {
    return defaultValue
  }
  return defaultValue
}

module.exports = {
  isArticleCollected: _isArticleCollected
}
